ion-content{
  .body{
    .container{
      padding: 15px;
      margin: 15px;
      border-radius: 5px;
      .button_container{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px;
          .button{
              padding: 15px;
              width: 50%;
              text-align: center;
              background-color: var(--ion-color-primary);
              color: white;
              border-radius: 5px;
          }
      }
     
    }
  }
}

