<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class ="body">
    <ion-item>
      {{username}} / {{role}}
    </ion-item>
    <div class="container">
      <div class ="button_container" *ngIf="!isLogin">
        <div class="button" (click) = "login()">Login</div>
      </div>
      <div class ="button_container" *ngIf="isLogin">
        <div class="button" (click) = "logout()">Logout</div>
      </div>
      <div class ="button_container" *ngIf="isLogin">
        <div class="button" (click) = "content()">content</div>
      </div>
    </div>
  </div>
</ion-content>
